/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  background: #2b0a05;
  padding: 15px;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
#home {
  background: url("../../assets/Images/bgs/hero.png") center/cover;
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 20rem;
}

#home p {
  font-size: 3rem;
  letter-spacing: 5px;
}

/* ABOUT */
#about {
  background: url("../../assets/Images/bgs/hero.png") center/cover;
  padding: 100px 50px;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.about-text {
  width: 350px;
  color: white;
}

.about-text p {
  font-size: 20px;
  letter-spacing: 3px;
}

/* TOP PICKS */
#top-picks {
  background: #4b0d07;
  color: white;
  text-align: center;
  padding: 50px;
}

.shelf {
  margin: 20px 0;
}

.shelf img {
  width: 120px;
  margin: 10px;
}

/* GUIDELINES */
#faq {
  background: #4b0d07;
  padding: 50px;
}

.guide-box {
  background: #e8d3b5;
  display: flex;
  max-width: 700px;
  margin: auto;
}

.guide-box .left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-box .right {
  width: 60%;
  padding: 20px;
}

/* FORM */
#borrow {
  background: #e8d3b5;
  text-align: center;
  padding: 50px;
}

#borrow h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.table-form {
  max-width: 500px;
  margin: auto;
}

.table-form div {
  display: flex;
  border: 1px solid #c96;
}

.table-form label {
  width: 40%;
  padding: 10px;
  text-align: left;
}

.table-form input,
.table-form select {
  width: 60%;
  border: none;
  padding: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #7a2c1c;
  color: white;
  border: none;
}

/* FOOTER */
footer {
  background: #2b0a05;
  color: white;
  text-align: center;
  padding: 20px;
}
